.Accum
{
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    color:blue;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 80% 20%;
    border: 6px solid #00FFFF;
    border-radius: 20px;
    box-shadow: 0 0px 2px 2px #2F4F4F;
    column-gap: 10px;
    

}


.Accum button
{

    width: 100%;
    height: 55px;
    margin-left: 2px;
    margin-bottom: 3px;
    font-size: 25px;

}

.Shower
{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;

}

.Shower_data
{
    gap: 15px;
    font-size: 30px;
    display:flex;
    flex-direction: row;
    color: blue;
    justify-content: space-between;
}

.Shower_current_data
{
    display:flex;
    flex-direction: row;
    gap: 15px;
    font-size: 30px;
    color: red;
    justify-content: space-between;

}

.indicates_lines
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Shower_main
{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
}

.upper_data
{
    grid-row: 1 / 3;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    align-self: flex-start;
    justify-self: center;

}


.button_panel
{
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    flex-direction: row;
}

.button_panel button
{
    font-weight: bold;
    color: red;
    width: 270px;
    height: 60px;
    margin-left: 4px;
    align-self: flex-end;
    margin-bottom: 5px;
    font-size: 35px;
}

.down_data
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    grid-row: 2;
    row-gap: 7px;
    align-self: flex-end;
    justify-self: center;
    margin-bottom: 3px;
}