@font-face {
    font-family: Crystal;
    src: url(/src/Styles/Fonts/Crystal.ttf);
    
}

#Autorization-page
{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header "
                         "form"
                         "footer";
    grid-template-rows: 60px auto 60px;
    grid-row-gap: 7px;
    grid-auto-rows: 100px;
    margin: 0%;
}

#Autorzation_header
{
    grid-area: header;
    grid-row: 1;
}

#Autorization_footer
{
    grid-row: 3;
    grid-area: footer;
    
}


#Autorization_content
{
    grid-row: 2;
    grid-area: form;
    justify-self: center;
    display: grid;
}


#Autorization_form
{
    height: 200px;
    width: 400px;
    border: 6px solid #00FFFF;
    border-radius: 20px;
    box-shadow: 0 0px 2px 2px #2F4F4F;				
    background: linear-gradient(#3D3F3F, black);
    grid-area: auth;
    display: grid;
    align-content: space-around;
    justify-items: center;
}

#AuthInput
{
    height: 25px;
}