#device
{
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 50% 50%;
    border: 6px solid #00FFFF;
    border-radius: 15px;
    box-shadow: 0 0px 2px 2px #2F4F4F;				
    background: linear-gradient(#3D3F3F, black);
    width: 250px;
    height: 280px;
}

#server_connect
{
    margin-top: 10px;
    margin-left: 10px;
    justify-items: center;
    grid-column: 1;
    grid-row: 1;
    display: flex;
	flex-direction: row;
	width: 90px;
	float: right;
    width: 24px;
    height: 24px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    text-align: center;
}

#server_connect_text
{
    grid-column: 1;
    grid-row: 1;
    margin-left: 30px;
}

#device_name
{
    margin-top: 10px;
    justify-items: center;
    grid-column: 2;
    grid-row: 1;
}

#info
{
    
    margin-top: 5px;
    font-size: 15px;
    grid-column: 1 / 3;
    grid-row: 2;
    padding: 5px;
}

#GoToButton{
    font-size: 13px;
    display: inline-block;
    text-align: center;
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-row: 3;
    grid-column: 1 / 3;
}
