#footer
{
    background: linear-gradient(#3D3F3F, black);
    border: 6px solid #00FFFF;
    border-radius: 15px;
    box-shadow: 0 0px 2px 2px #2F4F4F;
    margin-top: 125px;
    height: 60px;
}


#footer_text
{
    vertical-align: center;
    font-size: 18px;
    margin-left: 15px;
    text-align: left;
    margin-top: 15px;
}