#header
{
    border: 6px solid #00FFFF;
    border-radius: 20px;
    box-shadow: 0 0px 2px 2px #2F4F4F;				
    background: linear-gradient(#3D3F3F, black);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    column-gap: 9px;
    height: 67px;
    padding-left: 15px;
    padding-right: 15px;
}


#server_status
{   
	float: right;
    flex-shrink: 1;
    width: 24px;
    height: 24px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    text-align: center;
}


#server_text
{
    flex-shrink: 1;
    margin-left: 3px;
    margin-top: 3px;
}


#header_text
{
    flex-grow: 1;
    position: fixed;
    left: 45vw;
    right: 45vw;
}


#username
{
    margin-right: 1rem;
}



#user_ava
{
    margin-right: 0.2rem;
    margin-top: 5px;
    font-family: Crystal;
    font-size: 18px;
    text-align: center;
    background-position: left;
    height: 100%;
    display: flex;
    flex-direction: row;
    
}
#ava
{

    background: #BEB7BC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
}
#text_ava
{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.9em;
}

#button_panel
{
    margin-left: 50px;
    column-gap: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;

}


#button_panel button
{
    height: 45px;
    width: 120px;
    font-size: 16px;
}

#settings_button
{
    height: 32px;
    width: 35px;
}