@font-face {
    font-family: Crystal;
    src: url(/src/Styles/Fonts/Crystal.ttf);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

body
{
    font-family: Crystal;
    background-color: #808080;
    color: white;
    height: 100vh;
    width: 100vw;


}

#root
{
    height: 100vh;
    width: 100vw;
}

#TestPage
{
    display: grid;
    grid-template-areas: 
    "header header header"
    ". test_content ."
    "footer footer footer";
    grid-template-rows: 15% 70% 15%;
    margin: 0%;

}


#TestContent
{
    grid-area: test_content;
    grid-column: 2;
    grid-row: 2;
    justify-self: stretch;
}