#modulePage
{
    display: grid;
    grid-template-areas: 
    "header header header"
    "module . tables"
    "footer footer footer";
    grid-template-rows: 65px auto 65px;
    grid-template-columns: 48% auto auto;
    grid-column-gap: 18px;
    grid-row-gap: 7px;
    margin: 0%;
}


#header
{
    grid-area: header;
}

#module
{
    grid-area: module;
    height: 670px;
    width: 500px;
}

#tables
{
    margin-left: 158px;
    grid-area: tables;
    display: grid;
    grid-template-areas: 
    "shops"
    "stuff"
    "graphics";
    grid-template-rows: 120px 120px 120px;
    height: 670px;
}

#shop_table
{
    grid-area: shops;
}

#stuff_table
{
    grid-area: stuff;
}

#graph_table
{
    grid-area: graphics;
}


#footer
{
    grid-area: footer;
    margin-top: 125px;
}