#stuff_table
{
    margin-top: 135px;
}

.table, td, th {border: 3px solid #15D4FC; color: white; table-layout: fixed;}
th {color: black;background: #15D4FC;}
.table {border-collapse: collapse;}
.td {background: #15D4FC; text-align: center;}
.tr {text-align: left; background: #15D4FC;}